{% extends 'base.html' %}
{% block content %}

{% if error %}
  {{ error }}
  <br/><br/>
{% endif %}

<div class="container pt-5 border">
  <br/>
  <h2 class="text-center">Import Results</h2>
  <br/>
  <p>
    {{ message }}
  </p>

</div>

<div class="container pt-5">
  <br/>
  <h2 class="text-center">Chassis Details</h2>
  <br/>
  <div class="row pb-2">
    <div class="col-2 text-right">
      <h5>Project:</h5>
    </div>
    <div class="col-8">
      <h5>{{project.name}}</h5>
    </div>
    <div class="col-2">
      <!-- A button goes here -->
    </div>

    <div class="col-2 text-right">
      <h5>Chassis Name:</h5>
    </div>
    <div class="col-8">
      <h5>{{chassis.name}}</h5>
    </div>
    <div class="col-2">
      <!-- A button goes here -->
    </div>

    <div class="col-2 text-right">
      <h5>Chassis Parent:</h5>
    </div>
    <div class="col-8">
      <h5>{{parentChassis}}</h5>
    </div>
    <div class="col-2">
      <!-- A button goes here -->
    </div>
  </div>



<!-- Chassis details -->
<div class="row">
    <div class="col-10">
      <!-- Reserve most space for table -->
      <table class="table table-bordered table-striped ">
        <thead>
          <tr>
            <th>Slot</th>
            <th>Module Name</th>
            <th>Catalog Number</th>
            <th>Parent</th>
          </tr>
        </thead>
        <tbody>
          {% for module in modules %}
          <tr>
            <td>{{module.slot}}</td>
            <td>{{module.name}}</td>
            <td>{{module.catalogNumber}}</td>
            <td>{{module.parent}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-2">
        <td><a href="{% url 'editProject' project.id %}" class="btn btn-primary btn-block" role="button">Chassis List</a></td>
    </col>
  </div>
</div>




{% endblock %}
